# Perform the following analysis on the provided file "demo.csv".


## 1. Which month saw the highest joining of the employees

   function name: max_joinings_month()
   
   inputs: DataFrame
   
   outputs: str
   
   
## 2. What is the mean salary is the state KS
   
   function name: mean_ks_salary()
   
   inputs: DataFrame
   
   outputs: float
   
   
## 3. Which Region has highest mean salary
   
   function name: max_mean_salary_region()
   
   inputs: DataFrame
   
   outputs: str
   
   
## 4. Which region has lowest mean salary
   
   function name: min_mean_salary_region()
   
   inputs: DataFrame
   
   outputs: str
   
   
## 5. Which City has highest mean weight
   
   function name: max_mean_weight_city()
   
   inputs: DataFrame
   
   outputs: str
   
   
## 6. What is the difference between mean salary of Doctors and Professors
   
   function name: dr_prof_mean_salary_diff()
   
   inputs: DataFrame
   
   outputs: float
   
   
## 7. How many female use yahoo
   
   function name: females_with_yahoo()
   
   inputs: DataFrame
   
   outputs: int
   
   
## 8. How many Doctors use gmail
   
   function name: doctors_with_gmail()
   
   inputs: DataFrame
   
   outputs: int
   
   
## 9. What is the password of the youngest male
   
   function name: youngest_male_password()
   
   inputs: DataFrame
   
   outputs: str

In [5]:
import pandas as pd

# demo.csv
# file_path = "demo.csv"
# df = pd.read_csv(file_path)
# display(df)

# test.csv
file_path = "test1.csv"
test_df = pd.read_csv(file_path)
# display(test_df)

## 1. Which month saw the highest joining of the employees

   function name: max_joinings_month()
   
   inputs: DataFrame
   
   outputs: str

In [2]:
def max_joinings_month(df):
    # your code here
    
print("on demo.csv",max_joinings_month(df))
print("on test.csv",max_joinings_month(test_df))

IndentationError: expected an indented block after function definition on line 1 (1191400449.py, line 4)

## 2. What is the mean salary is the state KS
   
   function name: mean_ks_salary()
   
   inputs: DataFrame
   
   outputs: float

In [13]:
ks_salary = test_df[test_df['State']=='KS']['Salary']
print(ks_salary.mean())

121682.33333333333

## 3. Which Region has highest mean salary
   
   function name: max_mean_salary_region()
   
   inputs: DataFrame
   
   outputs: str

In [7]:
def max_mean_salary_region(df):
    max_salary = df.groupby('Region')['Salary'].mean()
    return max_salary.idxmax() 

# print("on demo.csv",max_mean_salary_region(df))
print("on test.csv",max_mean_salary_region(test_df))

on test.csv West

## 4. Which region has lowest mean salary
   
   function name: min_mean_salary_region()
   
   inputs: DataFrame
   
   outputs: str

In [8]:
def min_mean_salary_region(df):
    min_salary = df.groupby('Region')['Salary'].mean()
    return min_salary.idxmin()

# print("on demo.csv",min_mean_salary_region(df))
print("on test.csv",min_mean_salary_region(test_df))

on test.csv Midwest

## 5. Which City has highest mean weight
   
   function name: max_mean_weight_city()
   
   inputs: DataFrame
   
   outputs: str

In [9]:
def max_mean_weight_city(df):
    high_weight = df.groupby('City')['Weight in Kgs.'].mean()
    return high_weight.idxmax()
# print("on demo.csv",max_mean_weight_city(df))
print("on test.csv",max_mean_weight_city(test_df))

on test.csv Conroe

## 6. What is the difference between mean salary of Doctors and Professors
   
   function name: dr_prof_mean_salary_diff()
   
   inputs: DataFrame
   
   outputs: float

In [10]:
def dr_prof_mean_salary_diff(df):
    doc_sal = df[df['Name Prefix'] =='Drs']['Salary']
    pro_sal = df[df['Name Prefix']== 'prof']
    doc_sal.mean()
    pro  
# print("on demo.csv",dr_prof_mean_salary_diff(df))
print("on test.csv",dr_prof_mean_salary_diff(test_df))

NameError: name 'pro' is not defined

## 7. How many female use yahoo
   
   function name: females_with_yahoo()
   
   inputs: DataFrame
   
   outputs: int

In [11]:
def females_with_yahoo(df):
    df.loc[(df['Gender']=='F')& (df['E Mail'] =='yahoo')].count_values()

# print("on demo.csv",females_with_yahoo(df))
print("on test.csv",females_with_yahoo(test_df))

AttributeError: 'DataFrame' object has no attribute 'count_values'

## 8. How many Doctors use gmail
   
   function name: doctors_with_gmail()
   
   inputs: DataFrame
   
   outputs: int

In [12]:
def doctors_with_gmail(df):
    filtered_df = df[(df['Name Prefix'].isin(['Drs.', 'Dr'])) & (df['E Mail'].str.endswith('mail'))]

# print("on demo.csv",doctors_with_gmail(df))
print("on test.csv",doctors_with_gmail(test_df))

on test.csv None

## 9. What is the password of the youngest male
   
   function name: youngest_male_password()
   
   inputs: DataFrame
   
   outputs: str

In [10]:
def youngest_male_password(df):
    # 

print("on demo.csv",youngest_male_password(df))
# print("on test.csv",youngest_male_password(test_df))

on demo.csv xPr\aGPTQ#v
on test.csv Output Hidden